@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    margin: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: rgb(130, 215, 248);
    color: rgb(217, 252, 253);
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgb(103, 193, 235), rgb(130, 215, 248) );
}

footer img:hover{
    height: 33px;
    width: 35px;
    background-color: rgb(81, 164, 202);
    border-radius: 10px;
}

header img{
    height: 110px;
    width: 110px;
    margin: 15px;
}

footer{
    background-color: rgb(103, 193, 235);
    height: 105px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer h2{
    display: flex;
    margin-left: 30px;
    align-items: center;
    font-size: 16pt;
}

footer img{
    height: 30px;
    width: 30px;
    text-decoration: none;
}

.contatos{
    width: 300px;
    text-align: center;
    margin: auto 5px auto auto;
}

.contatos a{
   margin: 0;
   padding: 8px; 
}

main{
    margin: 15px auto;
    background-color: rgb(103, 193, 235);
    width: fit-content;
    border-radius: 20px;
    padding: 10px;
    height: fit-content;
}

.calculadora{
    padding: 18px;
}

button{
    width: 55px;
    height: 25px;
    border: 1px solid rgba(0, 69, 109, 0.425);
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(0, 162, 255, 0.575);
    color: rgb(217, 252, 253);
    text-align: center;
    transition-duration: 0.4s;
}

button:hover{
    background: rgb(0, 162, 255);
    border: 1px solid rgba(0, 69, 109, 0.911);
}

input{
    border-radius: 10px;
    height: 17px;
    background-color: rgb(217, 252, 253);
}

.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 3px;
}

.visor{
    display: flex;
    width: auto;
    height: 35px;
    background-color: rgb(112, 210, 255);
    border-radius: 15px;
    align-items: center;
    padding: 5px 10px;
}

#historico{
    font-size: 0.66rem;
    opacity: 0.8;
    margin-bottom: auto;
    margin-left: auto;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3px;
}

.numeros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}

.operacoes{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0px 3px;
}

.especiais{
    display: flex;
    margin-top: 20px;
    gap: 3px;
    padding: 0px 5px 0px 0px;
    justify-content: center
}